# /usr/lib/systemd/system/usbproxygadget.service
 
[Unit]
Description=USB Proxy Gadget
After=systemd-modules-load.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usbproxygadget
 
[Install]
WantedBy=sysinit.target
